$colorPri: pink;
$colorSec: blue;
$bgcDark: black;
$bgcLight: white;
$bgcSucces: green;
$paddingS: 5px;
$paddinM: 10px;
$paddinXL: 15px;
$fontH1: 35px;
$fontH2: 30px;
$fontH3: 20px;
$ffTitle: verdana;
$ffText: sans-serif;